<mat-card>
  <mat-list>
    <mat-list-item *ngFor="let link of links">
      <a matLine href="...">{{ link }}</a>
      <button mat-icon-button (click)="showInfo(link)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <h4>List of Customers</h4>
  <ul class="customers">
    <li *ngFor="let customer of customers | async; let i=index">
      <span >{{i+1}}.</span> {{customer.name}}
      <button style="float: right" (click)="removeCustomer(i)">Remove</button>
    </li>
  </ul>
</mat-card>
